name: Publish runbooks
on:
  workflow_dispatch:
  push:
    branches:
      - "main"


jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ministryofjustice/tech-docs-github-pages-publisher:v3.0.2
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compile Markdown to HTML and create artifact
        run: |
          cd runbooks; /scripts/deploy.sh false
      - name: Install rsync
        run: |
          apk update && apk add rsync
          which rsync
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.7.2
        with:
          token: ${{ secrets.PUBLISHING_GIT_TOKEN }}
          git-config-name: cloud-platform-moj
          git-config-email: platforms@digital.justice.gov.uk
          repository-name: ministryofjustice/cloud-platform-runbooks
          branch: gh-pages # The branch the action should deploy to.
          folder: runbooks/docs # The folder the action should deploy.
          clean: true
          clean-exclude: |
            CNAME
            License
            README.md
